/* CSS Variables */
/* font family variables. */
body {
  font-family: "Roboto", cursive;
}

/* Global Classes */
.title-text {
  font: normal bold 50px/72px "Roboto", cursive;
}

.title-h1 {
  font: normal bold 39px/40px "Roboto", cursive;
}

p.paragraph {
  color: #777777;
  font: normal 500 16px/25px "Roboto", cursive;
}

.font-roboto {
  font-family: "Roboto", cursive;
}

/* Buttons */
.button {
  padding: .8rem 2.2rem;
  font: normal 700 16px/20px "Roboto", cursive;
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button.primary-button {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  background-clip: padding-box;
  color: whitesmoke;
  -webkit-transition: background .6s ease;
  transition: background .6s ease;
  -webkit-box-shadow: 0px 0px 20px #4458dc;
          box-shadow: 0px 0px 20px #4458dc;
  margin-right: 1rem;
}

.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after, .button.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  content: ' ';
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button {
  background: white;
  background-clip: padding-box;
  -webkit-transition: background .6s ease;
  transition: background .6s ease;
}

.button.secondary-button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  color: whitesmoke;
  -webkit-box-shadow: 0px 0px 20px #4458dc;
          box-shadow: 0px 0px 20px #4458dc;
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px #4458dc;
          box-shadow: 0px 0px 20px #4458dc;
  z-index: 999;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}

nav .custom-toggler {
  border-color: #4458dc;
  margin-top: 5px;
}

nav .custom-toggler .navbar-toggler-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4458dcb3;
}

nav ul {
  margin-top: 15px;
}

nav ul li a {
  color: #141313;
  font-family: "Roboto", cursive;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #4458dc;
}

nav ul li .active {
  color: #4458dc;
}

@media (min-width: 992px) {
  nav ul li {
    padding: 0 0 0 3rem !important;
  }
  nav ul li a {
    padding: 0 !important;
  }
  nav ul li a:hover {
    background-color: transparent !important;
  }
}

.introMain .intro-part-one {
  background-image: url("../Images/intro-part-one/home-banner.png");
  background-size: cover;
}

@media (min-width: 991px) {
  .introMain .intro-part-one .info-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.introMain .intro-part-one .info-about h3 {
  font-size: 3rem;
}

.introMain .intro-part-one .info-about h3::after {
  content: "";
  height: 2px;
  width: 12vw;
  background-color: #000;
  display: inline-block;
  -webkit-transform: translatey(-1.2rem);
          transform: translatey(-1.2rem);
  margin-left: 1rem;
}

.introMain .intro-part-one .info-about h2 {
  font-size: 4rem;
}

.introMain .intro-part-two h2 {
  font-size: 3rem;
  letter-spacing: 20px;
  line-height: 1.5;
}

@media (max-width: 575px) {
  .introMain .intro-part-two h2 {
    font-size: 1.8rem;
  }
}

.introMain .intro-part-two h2 span {
  display: block;
}

.introMain .intro-part-three .logos-container .row .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 15px;
}

.introMain .intro-part-three .logos-container .row .logo-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0px;
  width: 140px;
  cursor: pointer;
  border: 1px solid #201f1f17;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.introMain .intro-part-three .logos-container .row .logo-container .logo:hover {
  -webkit-box-shadow: 0px 0px 20px #4458dc;
          box-shadow: 0px 0px 20px #4458dc;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.introMain .intro-part-three .logos-container .row .logo-container .logo:hover img {
  -webkit-filter: brightness(0.15);
          filter: brightness(0.15);
}

.introMain .intro-part-three .logos-container .row .logo-container .logo img {
  width: 50%;
}

.introMain .years-exp-container {
  padding: 0px;
  position: relative;
}

.introMain .years-exp-container .img-contacts {
  position: absolute;
  left: -5px;
  top: 22px;
  z-index: 1;
}

.introMain .years-exp-container .years-exp {
  width: 80%;
  background-color: #fef7f7;
  height: 20rem;
  position: relative;
  left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introMain .years-exp-container .years-exp .years-number {
  position: relative;
  padding: 1.5rem 0 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introMain .years-exp-container .years-exp .years-number .first-h3 h3 {
  color: #854fee;
  font-size: 6rem;
  margin-right: 1rem;
}

.introMain .years-exp-container .years-exp .years-number .second-h3 {
  position: relative;
}

.introMain .years-exp-container .years-exp .years-number .second-h3 h3 {
  position: absolute;
  top: 10px;
  font-size: 1.5rem;
}

.introMain .years-exp-container .years-exp .years-number .second-h3 h3 span {
  display: block;
}

.introMain .years-exp-container .years-exp .contacts {
  padding: 0 0 1.5rem 4rem;
}

.introMain .years-exp-container .years-exp .contacts::before {
  content: "\f879";
  font-family: "Font Awesome 5 Pro";
  padding-right: .5rem;
  font-weight: 900;
  font-size: 3rem;
}

.introMain .years-exp-container .years-exp .contacts .call-now a {
  font-size: 2rem;
}

.services-offers .skills .skill-container {
  margin: 1rem 0;
}

.services-offers .skills .skill-container .skill {
  margin: 0 auto;
  text-align: center;
  width: 15rem;
  background-color: rgba(248, 252, 253, 0.973);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 300px;
}

.services-offers .skills .skill-container .skill:hover {
  -webkit-box-shadow: 0px 0px 20px #4458dc;
          box-shadow: 0px 0px 20px #4458dc;
}

.services-offers .skills .skill-container .skill h5 {
  font-weight: bold;
}

.services-offers .skills .skill-container .skill p {
  color: #6c757d;
  padding: 0 0.5rem;
  margin: 0px;
}

.clients-reviews h2:first-child {
  font-size: 1.8rem;
}

@media (min-width: 576px) {
  .clients-reviews h2:first-child {
    font-size: 2.8rem;
  }
}

.clients-reviews .owl-theme .owl-dots .owl-dot:hover span, .clients-reviews .owl-theme .owl-dots .owl-dot.active span {
  background: #4458dc;
}

.clients-reviews .owl-carousel .owl-item {
  padding: 0.5rem;
}

.clients-reviews .owl-carousel .client-container {
  padding: 1rem 0;
  -webkit-box-shadow: 0px 0px 0.5rem #4458dc;
          box-shadow: 0px 0px 0.5rem #4458dc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  width: 75%;
  margin: 0.7rem auto;
}

@media (min-width: 576px) {
  .clients-reviews .owl-carousel .client-container {
    width: auto;
  }
}

.clients-reviews .owl-carousel .client-container .client-img img {
  border-radius: 0.5rem;
}

.clients-reviews .owl-carousel .client-container .client-info h3 {
  color: crimson;
  text-transform: capitalize;
  opacity: 0.8;
  font-size: 1.5rem;
}

.clients-reviews .owl-carousel .client-container .client-info p.paragraph {
  margin: 0px;
}

.subscribe-section .subscribe {
  padding: 5rem 0.3rem;
  background: url(/Images/subscribe-bg.png) no-repeat;
  margin: 0px auto;
}

.subscribe-section .subscribe h2 {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .subscribe-section .subscribe h2 {
    font-size: 2.5rem;
  }
}

.subscribe-section .subscribe p {
  font-size: 0.8rem;
  margin: 1.2rem 0;
}

@media (min-width: 768px) {
  .subscribe-section .subscribe p {
    font-size: 1rem;
  }
}

.subscribe-section .subscribe .input-container {
  height: 3rem;
}

.subscribe-section .subscribe .input-container input {
  height: inherit;
}

.subscribe-section .subscribe .input-container input:first-child {
  width: 50%;
  height: inherit;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
  margin-right: 0.5rem;
}

.subscribe-section .subscribe .input-container input:first-child:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.subscribe-section .subscribe .input-container input:first-child::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
}

.subscribe-section .subscribe .input-container input:first-child:-ms-input-placeholder {
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
}

.subscribe-section .subscribe .input-container input:first-child::-ms-input-placeholder {
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
}

.subscribe-section .subscribe .input-container input:first-child::placeholder {
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
}

@media (min-width: 576px) {
  .subscribe-section .subscribe .input-container input:first-child::-webkit-input-placeholder {
    font-size: 1rem;
    text-align: left;
  }
  .subscribe-section .subscribe .input-container input:first-child:-ms-input-placeholder {
    font-size: 1rem;
    text-align: left;
  }
  .subscribe-section .subscribe .input-container input:first-child::-ms-input-placeholder {
    font-size: 1rem;
    text-align: left;
  }
  .subscribe-section .subscribe .input-container input:first-child::placeholder {
    font-size: 1rem;
    text-align: left;
  }
}

.subscribe-section .subscribe .input-container input:last-child {
  padding: 0 1.5rem;
}

footer.footer-area {
  padding: 2rem 0;
  background: url(../Images/footer-bg.png) no-repeat;
}

footer.footer-area a > i {
  padding: 1.4rem;
  color: #201f1f17;
}

footer.footer-area a > i:hover {
  color: #4458dc;
}

.test {
  height: 600px;
}
