// Start main "Introduce myself" section
.introMain {

  // Introduce myself part one
  .intro-part-one{
    background-image: url('../Images/intro-part-one/home-banner.png');
    background-size: cover;
    .info-about{
      @media (min-width: 991px){
        display: flex;
        align-items: center;
      }

      h3{
        font-size: 3rem;
        &::after{
          content: "";
          height: 2px;
          width: 12vw;
          background-color: #000;
          display: inline-block;
          transform: translatey(-1.2rem);
          margin-left: 1rem;
          }
      }
      h2{font-size: 4rem;}
    }
  }

  // Introduce myself part two
  .intro-part-two{
    h2{
      font-size: 3rem;
      @media (max-width: 575px){font-size: 1.8rem;}
      letter-spacing: 20px;
      line-height: 1.5;
      span{display: block;}
    }
  }

  // Introduce myself part three
      // Logos section
  .intro-part-three{
    .logos-container{
      .row{
        .logo-container{
          display: flex;
          justify-content: space-around;
          padding: 10px 15px;
          .logo{
            display: flex;
            justify-content: center;
            padding:25px 0px;
            width: 140px;
            cursor:pointer;
            border: 1px solid $border-color;
            border-radius: 3px;
            transition: all 0.4s ease;
            &:hover{
              box-shadow: $box-shadow;
              transform: scale(1.1);
              img{filter: brightness(0.15);}
            }
            img{
              width: 50%;
            }
          }
        }
      }
    }
  }

    // years-exp section
  .years-exp-container{
    padding: 0px;
    position: relative;
    .img-contacts{
        position: absolute;
        left: -5px;
        top: 22px;
        z-index: 1;
      }

    .years-exp{
      width: 80%;
      background-color: #fef7f7;
      height: 20rem;;
      position: relative;
      left: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .years-number{
        position: relative;
        padding: 1.5rem 0 0 2rem;
        display: flex;
          .first-h3{
            h3{
              color: $primary-color2;
              font-size: 6rem;
              margin-right: 1rem;
            }
          }
          .second-h3{
            position: relative;
            h3{
              position: absolute;
              top: 10px;
              font-size: 1.5rem;
              span{
                display: block;
                
              }
            }
          }
      }
      .contacts{
        &::before{
          content: "\f879";
          font-family: "Font Awesome 5 Pro";
          padding-right: .5rem;
          font-weight: 900;
          font-size: 3rem;
        }
        padding: 0 0 1.5rem 4rem;
       .call-now{
         a{font-size: 2rem;}
        }
      }
    }
  }
}